*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    background: #fff url(../imagens/fundo.png) repeat-x;
}
#container{
    width: 65%;
    min-width: 720px;
    margin: 0 auto;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
}
#nav{
    height: 100px;
    
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

#nav ul{
    margin-top: 20px;
    background: #b10333;
    float: left;
}

#nav ul li{
    float: left;
}

#nav ul li a{
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #fff;
    line-height: 2em;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#nav ul .primeiro a {
    background: none;
}

#nav ul a:hover{
    color: #69001d;
}