*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body{
    margin: 0px;
    background: #fff url(../imagens/fundo.png) repeat-x;
}
#container{
    
    width: 40%;
    min-width: 950px;
    margin: 0 auto;
    background: url(../imagens/detalhe-topo.png) no-repeat right top;
}
#nav{
    height: 100px;
    
}
.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;

}
/*Menu*/
#nav ul{
    margin-top: 20px;
    background: linear-gradient(to bottom, #b10333 , #80111d);
    float: left;
}

#nav ul li{
    float: left;
}

#nav ul li a{
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #fff;
    line-height: 2em;
    background: url(../imagens/divisor.png) no-repeat left center;
}

#nav ul .primeiro a {
    background: none;
}

#nav ul a:hover{
    color: #69001d;
}


/*Menu selecionado*/
body.home #nav li#home a,
body.brasil #nav li#brasil a,
body.internacional #nav li#internacional a,
body.ecnomia #nav li#ecnomia a,
body.saude #nav li#saude a,
body.ciencia #nav li#ciencia a,
body.fotos #nav li#fotos a
{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*Configura layout de três colunas*/
#conteudo{
    margin-top: 40px;
    background: #f5f5f5;
}

#primario{
    width: 340px;
    margin: 0px 0px 20px 200px;
    float: left; 
}
#duas-colunas #primario{
    width: 655px;
}
#uma-colunas #primario{
    width: 100%;
    margin: 0px 0px 20px 0px;
    
}
#tres-colunas #secundario{
    width: 270px;
    margin:  0px 0px 20px 15px;
    float: left;

}
#lateral{
    width: 180px;
    margin: 0px 0px 20px -820px;
    float: left;

}
#duas-colunas #lateral{
    width: 180px;
    margin: 0px 0px 20px -855px;
    float: left;

}

/*Caixa*/
.caixa{
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px;
}
h2{
    font-size: 1.1em;
    background: #294c71;
    color: white;
    padding: 5px;
}
.caixa-conteudo{
    background: #fff;
    padding: 5px;
}
.caixa-conteudo img{
    width: 95%;
    margin-left: 2.5%
}

/*Formatacao menus laterais*/
#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
}
#lateral ul a:hover{
    background: #f9f9f9 url(../imagens/marcador.png) no-repeat left center; 
    color: #a1a1a1;
    padding-left: 22px;
}
/*News*/
label{
    display: block;
    cursor: pointer;
}
#email{
    width: 90%;
    margin-bottom: 5px;
}
#botao{
    background: #b10333;
    border: 1px solid #80111d;
    width: 50%;
    padding: 3px;
    color: white
}

/*Formatação de cabeçalhos*/
.destaque h3{
    background: #b10333;
    display: inline-block;
    color: #fff;
}
/*Imagens e listas de noticias*/
#listas-noticias li a img{
    width: 20%;
    float: left;
    margin: 5px;
}
#duas-colunas #listas-noticias li a img{
    width: 10%;
    float: left;
    margin: 5px;
}
#listas-noticias li a {
    text-decoration: none;
    font-size: 0.8em;
     line-height: 11px
}
#listas-noticias li a:hover {
    text-decoration: underline;
}
#listas-noticias li h3 {
    line-height: 0px;
    color: #294c71;
}
#listas-noticias li p {
    color: black;
}
#listas-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
/*Rodape*/
footer{
    clear: both;
    background: #294c71;
    padding: 20px;
    margin: 0px;
   

}
footer div{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    color: white;
}